<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/chatstyles.css">
</head>
<body>
    <div class="form-container">
        <form action="/login" method="post">
            <!-- Title -->
             <h2>Login</h2>
             <img class='responsive-img' src="https://images.squarespace-cdn.com/content/v1/5b5a266fcef372310148d6d6/1532816947856-MIMDFIUYZHABRDQ4TWZC/Original+logo+low+resolution.png?format=1000w" alt="Turtle Shelter Project Logo">
            <!-- User Name -->
            <label for="username" style="display: block; margin-bottom: 5px;">Email:</label>
            <input type="text" id="username" name="username" placeholder="Enter your email" required>
            <!-- Password -->
            <label for="password" style="display: block; margin-bottom: 5px;">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
            <!-- Submit Button -->
            <div>
                <button class='login-button' type="submit">Submit</button>
            </div>
                <br>
            <div>
                <button class='login-button' href="/addVolunteer">Become a Volunteer</button>
            </div>
        </form>
            
    </div>
    
</body>
</html>